<script>
 window.onscroll = function() {
     var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
     var postContainerPosition = $('.post-container').position().top;
     var bannerHeight = $('.intro-header').height();
     if(scrollTop <= bannerHeight){
         jQuery("#toc").css('top', (bannerHeight-scrollTop)+'px');
     }else{
         jQuery("#toc").css('top','0px');
     }
 }
</script>

<style>
 .intro-header {
     margin-left: -15em;
 }

 .pager li > a {
    text-decoration: none !important;
 }
</style>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                        col-lg-9 offset-0
                        col-md-10 offset-1
                        post-container">

                {% include post_assemble/post_body.html %}

            </div>

            <!-- Side Home Container -->
            <div class="
                        col-lg-3 offset-0
                        d-none d-lg-block d-xl-none-block
                        sidebar-container
                        home-container">
            </div>

        </div>
    </div>
</article>
