<!-- Post Content -->
<style>
 .grid-spacing {
     padding-left: 2%;
     margin-left: 2%;
 }
</style>

<article>
    <div class="container">
        <div class="row">

            <!-- Side Catalog Container -->
            {% if site.PostCatalog %}
            <div class="
                        col-lg-2 offset-0
                        d-none d-lg-block d-xl-none-block
                        sidebar-container
                        catalog-container">
                <div class="side-catalog">
                    <hr class="d-sm-none d-none">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {% endif %}

            <!-- Post Container -->
            <div class="
                        col-lg-8 offset-0
                        col-md-10 offset-1
                        post-container
                        grid-spacing">

                {% include post_assemble/post_heading.html %}

                {% include post_assemble/post_body.html %}

                {% include post_assemble/post_tail.html %}

            </div>

            <!-- Side Home Container -->
            <div class="
                        col-lg-2 offset-0
                        d-none d-lg-block d-xl-none-block
                        sidebar-container
                        home-container">
            </div>

        </div>
    </div>
</article>
