<style>
 .post-preview {
     border: 1px solid #ddd;
     border-radius: 3px;
     overflow: hidden;
 }

 .post-preview p {
     margin: .8rem 0;
 }

 .post-preview .post-title:hover {
     border-left: 5px solid #9c9;
 }

 .post-preview .post-title a:hover {
     color: #b0a0aa;
     text-decoration: none;
 }

 .post-preview .post-title {
     border-left: 6px solid #eee;
     padding: .8rem 0 0 2rem;
 }

 .post-preview .post-subtitle {
     padding: .5rem 0 0 .8rem;
 }

 .post-preview .post-meta {
     padding: .5rem 0 0 3rem;
 }

 .post-preview .post-content-preview {
     padding: .5rem 12rem 0 2rem;
     display: inline-block;
     text-decoration: none
 }

 .post-preview .readmore {
     padding: 1rem 0 .4rem 2rem;
     float: left;
 }

 div.pin {
     background: rgba(50,60,70,.04);
 }
</style>


<div class="post-preview {% if post.pin %}pin{% endif %}">
    <h2 class="post-title">
        {% if post.pin %}
        <span class="pin">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        </span>
        {% endif %}

        <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </a>
    </h2>

    {% if post.subtitle %}
    <h3 class="post-subtitle">
        {{ post.subtitle }}
    </h3>
    {% endif %}

    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%Y-%m-%d %R" }}
    </p>

    <div class="post-content-preview">
        {{ post.content | strip_html | truncate:200 }}
    </div>

    <p class="readmore">
        <a href="{{ post.url | prepend: site.baseurl }}">阅读更多</a>
    </p>
</div>
