<div class="post-preview {% if post.pin %}post-pin{% endif %}">
    <h2 class="post-title">
        {% if post.pin %}
        <span class="pin">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        </span>
        {% endif %}

        <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </a>
    </h2>

    {% if post.subtitle %}
    <h3 class="post-subtitle">
        {{ post.subtitle }}
    </h3>
    {% endif %}

    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%Y-%m-%d %R" }}
    </p>

    <div class="post-content-preview">
        {{ post.content | strip_html | truncate:200 }}
    </div>

    <p class="readmore">
        <a href="{{ post.url | prepend: site.baseurl }}">阅读更多</a>
    </p>
</div>
