<!-- Post Content -->
<style>
 .grid-spacing {
     padding-left: 2%;
     margin-left: 2%;
 }

 .post-heading {
    margin-bottom: 10px;
    padding-bottom: 10px;
 }
</style>

<article>
    <div class="container">
        <div class="row">

            <!-- Side Catalog Container -->
            {% if site.PostCatalog %}
            <div class="
                        col-lg-2 col-lg-offset-0
                        visible-lg-block
                        sidebar-container
                        catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {% endif %}

            <!-- Post Container -->
            <div class="
                        col-lg-8 col-lg-offset-0
                        col-md-10 col-md-offset-1
                        post-container
                        grid-spacing">

                <div class="post-heading">
                    {% include post/post_heading.html %}
                </div>

                <div class="post-content">
                    {{ content }}
                </div>

                <div class="post-info">
                    {% include post/post_info.html %}
                </div>

                <hr>

                <div class="post-category">
                    {% include post/post_category.html %}
                </div>

                <div class="post-tag">
                    {% include post/post_tag.html %}
                </div>

                <hr>

                <div class="post-navigation">
                    {% include post/post_navigation.html %}
                </div>
            </div>

            <!-- Side Home Container -->
            <div class="
                        col-lg-2 col-lg-offset-0
                        visible-lg-block
                        sidebar-container
                        home-container">
            </div>

        </div>
    </div>
</article>
