---
layout: default
---


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); width: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                    <span class="meta"></span>
                </div>
            </div>
        </div>
    </div>
</header>


{% if page.type == "asciidoc" %}

  {% if page.toc == "left" %}
    {% include article/asciidoc.html %}
  {% else %}
    {% include article/asciidoc_without_side_toc.html %}
    {% include plugins/post_catalog.html %}
  {% endif %}

{% elsif page.type == "readtheorg" %}

{% include article/readtheorg.html %}

{% elsif page.type == "markdown" or page.type == "" or page.type == nil %}

{% include article/markdown.html %}

{% include plugins/open_embed.html %}
{% include plugins/post_catalog.html %}
{% include plugins/anchorjs.html %}

{% elsif page.type == "html" or page.type == "asciidoc" %}

{% comment %}
这里针对没有左侧/右侧目录的 asciidoc 导出的 html或者纯html
{% endcomment %}

{% include article/markdown.html %}

{% include plugins/post_catalog.html %}

{% else %}

"Post type invalid, your type is {{page.type}}, which is not a valid type."

{% endif %}


<div class="container">
    <div class="row">
        <div class="
                    col-lg-8 col-lg-offset-2
                    col-md-10 col-md-offset-1
                    commentbox-container">
            {% include plugins/commentbox/gittalk.html %}
            {% include plugins/commentbox/disqus.html %}
        </div>
    </div>
</div>


{% include plugins/reading_progress_bar.html %}
{% include plugins/header_collapse.html %}
{% include plugins/lightbox.html %}
