---
layout: default
---


{% include sidebar.html %}

<div class="wrap">

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); width: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-2 col-md-10 offset-1">
                <div class="post-heading">
                    <h1></h1>
                    <h2 class="subheading"></h2>
                    <span class="meta"></span>
                </div>
            </div>
        </div>
    </div>
</header>


{% if page.type == "asciidoc" %}

  {% comment %}
  针对 Asciidoc 导出的 html，目前只支持左目录和主目录
  {% endcomment %}

  {% if page.toc == "left" %}
    {% include article/asciidoc.html %}
  {% else %}
    {% include article/asciidoc_without_side_toc.html %}
    {% include plugins/post_catalog.html %}
  {% endif %}

{% elsif page.type == "readtheorg" %}

  {% comment %}
  针对 Org 使用 readtheorg 模板导出的 html
  {% endcomment %}

  {% include article/readtheorg.html %}

{% elsif page.type == "html" %}

  {% comment %}
  针对纯 html
  {% endcomment %}

  {% include article/markdown.html %}

  {% include plugins/post_catalog.html %}

{% elsif page.type == "markdown" or page.type == "" or page.type == nil %}

  {% comment %}
  默认的类型，可以不指定或指定为 markdown
  {% endcomment %}

  {% include article/markdown.html %}

  {% include plugins/open_embed.html %}
  {% include plugins/post_catalog.html %}
  {% include plugins/anchorjs.html %}

{% else %}

  {% comment %}
  可能某个 type 没拼对
  {% endcomment %}

  "Post type invalid, your type is {{page.type}}, which is not a valid type."

{% endif %}


<div class="container">
    <div class="row">
        <div class="
                    col-lg-8 offset-2
                    col-md-10 offset-1
                    commentbox-container">
            {% include plugins/commentbox/gittalk.html %}
            {% include plugins/commentbox/disqus.html %}
        </div>
    </div>
</div>

</div>

{% include plugins/sidebar_toggle.html %}
{% include plugins/reading_progress_bar.html %}
{% include plugins/header_collapse.html %}
{% include plugins/lightbox.html %}
{% include plugins/toc_backref.html %}
