<!-- Short About -->
<section class="d-none d-md-block d-lg-block">
    <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
    <div class="short-about">
        {% if site.sidebar-avatar %}
        <a href="{{ site.baseurl }}/about">
            <img src="{{site.sidebar-avatar}}"/>
        </a>
        {% endif %}

        {% if site.sidebar-about-description %}
        <p>{{site.sidebar-about-description}}</p>
        {% endif %}

        {% include sidebar/sns_link.html %}

        {% if site.email %}
        <p>✉️ {{site.email}}</p>
        {% endif %}
    </div>
</section>
