<!-- SNS Link -->
<ul class="list-inline">

    {% if site.RSS %}
    <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {% endif %}

    {% for site_hash in site.sns  %}
        {% if site_hash[1] %}
            {% assign pair = site_hash[0] | split: "_" %}
            {% assign domain = pair[0] %}
            {% assign username = site_hash[1] %}

            {% if domain == "jianshu" or domain == "stackoverflow" %}
                {% capture href_str %} "https://{{ domain }}.com/u/{{ username }}" {% endcapture %}
            {% elsif domain == "reddit" %}
                {% capture href_str %} "https://{{ domain }}.com/user/{{ username }}" {% endcapture %}
            {% elsif domain == "quora" %}
                {% capture href_str %} "https://{{ domain }}.com/profile/{{ username }}" {% endcapture %}
            {% elsif domain == "linkedin" %}
                {% capture href_str %} "https://{{ domain }}.com/in/{{ username }}" {% endcapture %}
            {% else %}
                {% capture href_str %} "https://{{ domain }}.com/{{ username }}" {% endcapture %}
            {% endif %}

            <li>
                <a target="_blank" href={{ href_str }}>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-{{domain}} fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

        {% endif %}
    {% endfor %}
</ul>
